.modal-title.h4 {
    display: inline-flex;
    grid-gap: 1rem;
    width: 100%;
    align-items: center;

    svg {
        width: 29px;
        height: 29px;
        margin-bottom: .5rem;
    }

    h3 {
        width: 100%;
        margin: 0;
        display: flex;
        font-size: 20px;
        justify-content: space-between;

        span {
            font-size: 20px;
            text-align: center;
            display: contents;
        }
    }
}

.edit-btn {
    background: unset;
    border: unset;

    &:hover,
    &:focus,
    &:active {
        background-color: transparent !important;
        color: inherit  !important;
        border: none  !important;
        outline: none  !important;
    }

    svg {
        fill: #568203;
    }
}

.selected-labels {
    display: flex;
    grid-gap: 10px;
    justify-content: center;

    .selected-label {
        width: fit-content;
        padding: 3px 10px;
        border-radius: 5px;
    }    
}

.files-preview-title {
    width: 100%;
    display: inline-flex;
    grid-gap: 1rem;

    svg  {
        fill: #008E97;
    }
}

.files-preview {
    width: 100%;
    display: inline-flex;
    height: 200px;
    grid-gap: 20px;
    overflow: scroll;

    .file {
        height: 100px;
        min-width: 90px;

        img, iframe {
            height: 100%;
        }

        .file-actions {
            align-items: center;
            display: grid;

            .open-file {
                font-size: 13px;
                margin-top: 10px;
    
                svg {
                    margin-left: 10px;
                    width: 13px;
                }
            }

            .delete-file {
                svg {
                    fill: red;
                }
            }
        }
    }
}

.due-date-container {
    align-items: center;

    p {
        margin: 0;
    }

    .due-date {
        display: inline-flex;
        grid-gap: 1rem;

        svg {
            fill: red;
        }
    }
    
    .duedate-edit {
        float: right;
    }
}

.card-description-container {
    display: flex;
    justify-content: space-between;

    .card-description {
        display: inline-flex;
        grid-gap: 1rem;
        width: 100%;
        align-items: center;

        svg {
            fill: #FFD700;
        }

        textarea {
            width: 100%;
        }

        p {
            margin: 0;
        }
    }
}