.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 0.5rem;
    display: grid;

    .list-items {
        width: 100%;
        margin: 0 auto;
        padding: 0 0.5rem;
        display: flex;
        min-height: calc(100vh - 5rem);
        max-height: 300px;
        overflow-y: auto;

        .input-container {
        }
    }
}